table {
    border-collapse: collapse;
    table-layout: fixed;
    width:80%;
    text-align: center;
}

#tittle {
    background-color: black;
    color: white;
}

tr, td, th {
    border: 2px solid #999999;
    word-wrap: break-word;
}